version: '3.8'
services:
  clamav-rest:
    mem_reservation: 262144000
    mem_limit: 1048576000
    image: ajilaag/clamav-rest
    ports:
      - "9000:9000"
      - "9443:9443"
    networks:
      - app_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs/:/etc/ssl/
    depends_on:
      - clamav-rest
    networks:
      - app_network

networks:
  app_network:
    driver: bridge